<h2 class="mat-h2">Add {{ title }} Book</h2>
<form [formGroup]="form" (ngSubmit)="create()" class="book-new__form">
  <mat-form-field>
    <input matInput formControlName="isbn" placeholder="ISBN" required />
    <mat-error *ngIf="form.get('isbn')?.hasError('minlength')"> ISBN has to be at least 3 characters long. </mat-error>
    <mat-error *ngIf="form.get('isbn')?.hasError('required')"> ISBN is required </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title" required />
    <mat-error *ngIf="form.get('title')?.hasError('required')"> Title is required </mat-error>
  </mat-form-field>
  <ng-container [formGroup]="authorsform">
    <mat-form-field formArrayName="authors">
      <span (click)="addAuthor()">➕</span>
      <ng-container *ngFor="let a of authors.controls; let i = index">
        <input border="1" matInput [formControlName]="i" [placeholder]="'Author' + i" required />
        <hr />
      </ng-container>
    </mat-form-field>
  </ng-container>

  <mat-form-field>
    <input matInput formControlName="cover" placeholder="Cover URL" />
  </mat-form-field>

  <div class="form-actions">
    <button mat-button routerLink="/" type="button">BACK</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">CREATE</button>
  </div>
</form>
